# Python / uv
__pycache__/
*.py[cod]
.env
.venv/
*.egg-info/
dist/
.pytest_cache/
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/

# Modelos serializados
src/models/*.pkl
src/models/*.joblib
mlruns/

# OS / IDE
.DS_Store
*.swp
.vscode/
.idea/

#data
data/raw/*.csv
data/processed/*.csv
!**/raw/.gitkeep
!**/processed/.gitkeep
